/* This will be worked on next week */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-attachment: scroll;
    background-color: #f7f6ee;
}


nav {
    background-color: #cbc2a3;
    border-bottom: solid 2.5px #14120f;
    margin: 0px;
    padding: 0px;
    height: 100px;
    width: 100%;
    display: grid;
    grid-template-columns: 140px 1fr 180px 180px 180px 180px 180px;
    padding: 0 30px 0 30px;
}
.logo {
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    max-width: 100%;
}
#logo-image{
    max-width: 100%;
    max-height: 80px;
}
.nav-button{
    display: flex;
    align-self: center;
    justify-content: center;
    max-width: 90%;
    color: #f5f3ed;
    padding: 10px;
    border: 2px solid #cbc2a3;
    border-radius: 40px;
    text-align: center;
}
.nav-button:hover{
    background-color: #fcfaf0;
    border: 2px solid #988c76;
    padding: 10px;
    max-width: 90%;
    border-radius: 40px;
    color: #63625e;
    text-align: center;
}
a{
    text-decoration: none;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
}
#prophet-portfolio{ 
    text-align: center;
    grid-column: 3 / 4; /* Skips column 2 for spacing purposes */
}
#contact-me{
    background-color: #fcfcca;
}


h1{
    text-align: center;
    font-family: 'Josefin Sans';
    font-size: 50px;
    padding-top: 60px;
}
#main-content{
    display: grid;
    /* grid-template-columns: 10% 35% 10% 35% 10%; */
    grid-template-columns: 1fr 450px 1fr 450px 1fr;
    margin-top: 22vh;
}
.content-box{
    border: 3px solid;
    border-radius: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#jace-img-div{
    grid-column: 2 / 3;
    border-color: #121314;
}
#jace-portrait{
    width: 100%;
    border-radius: 13px;
    display: block;
}
#about-div{
    grid-column: 4 / 5;
    border-color: #5cc765;
    background-color: #c3f7c8;
    padding: 0px 20px 0px 30px;
}
#about-title{ /* #about-div header */
    font-family: 'Josefin Sans';
}
#about-div ul, #about-div p{
    font-family: 'Inter';
}