:root {
  --primary-color: #044389;
  --secondary-color: #CCE6F4;
  --tertiary-color: #317b96;
  --accent1-color: #9C7178;
  --accent2-color: #FFC759;

  --heading-font: "Montserrat";
  --paragraph-font: "Mulish";

  --headline-color-on-white: var(--primary-color);  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: var(--primary-color); /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: var(--tertiary-color)  ;
  --nav-link-color: white;
  --nav-background-color: var(--accent1-color);
  --nav-hover-link-color: white;
  --nav-hover-background-color: #396E94;

  background-color: whitesmoke;
}
body {
    margin: 50px;
}

h1 {
    text-align: center;
    font-family: var(--heading-font);
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    font-size: 40px;
}
h2 {
    background-color: var(--secondary-color);
    color: black;
    font-size: 28px;
    font-family: var(--heading-font);
    padding-left: 20px;
}
/* Id selector starts with a # */
#wwrHeader {
    background-color: var(--tertiary-color);
    color: var(--headline-color-on-color);
    font-size: 28px;
    padding-left: 20px;
}
/* Class selector starts with a . */
.paragraphFont {
    font-family: var(--paragraph-font);
    font-size: 14px;
}